.start-screen {
  z-index: 10;
  background-color: rgba(233, 212, 118, 0.568);
  text-align: center;
  font-size: larger;
  margin: auto;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.start-button {
  padding: 12px 24px;
  border: none;
  background-color: rgb(9, 107, 0);
  color: white;
  font-size: larger;
  font-weight: bold;
}

.key-tutorial {
}
